@charset "UTF-8";
/* СТУДИЯ */
:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  /* animations */
  --mid-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "roboto", serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: auto; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

/* .for-logo {
  color: #2196f3;
} */
.logo--color {
  color: black;
}

.logo--color-footer {
  color: #ffffff;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 700ms ease;
  transition: opacity 300ms ease-in-out, -webkit-transform 700ms ease;
  transition: transform 700ms ease, opacity 300ms ease-in-out;
  transition: transform 700ms ease, opacity 300ms ease-in-out, -webkit-transform 700ms ease;
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .form {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .form {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* .backdrop .modal-form {
  animation: rotate-scale-down 1.9s ease-in;
}

@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
} */
.form__modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form__btn-icon {
  fill: #000000;
  -webkit-transition: fill var(--mid-anim);
  transition: fill var(--mid-anim);
}

.form__modal-btn:hover .form__btn-icon,
.form__modal-btn:focus .form__btn-icon {
  fill: #2196f3;
}

/* modal form */
.form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.form__group,
.form__policy {
  display: block;
}

.form__group {
  position: relative;
}

.form__group:not(:last-child) {
  margin-bottom: 10px;
}

.form-group.textarea {
  margin-bottom: 20px;
}

.form__group-label {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--mid-anim);
  transition: border var(--mid-anim);
}

.form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill var(--mid-anim);
  transition: fill var(--mid-anim);
}

.form__group .form__input:focus,
.form__group .form__textarea:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.form__group:focus-within > .form__icon {
  fill: #2196f3;
}

.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  outline: 1px solid #212121;
  outline-offset: -2px;
  -webkit-transition: background-color var(--mid-anim);
  transition: background-color var(--mid-anim);
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
  outline: #2196f3;
}

.checkbox:focus + .custom-checkbox {
  outline: 1px solid #2196f3;
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--mid-anim);
  transition: opacity var(--mid-anim);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.form__policy-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__btn {
  width: 200px;
  height: 50px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Подписка на страницу */
.subscription {
  width: 579px;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription__form-group {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: transparent;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__form-input {
  padding: 15px 286px 15px 25px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription__form-btn {
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
}

.subscription__form-icon {
  margin-left: 10px;
  fill: #fff;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-bottom: 42px;
}

.projects__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  -webkit-transition: color var(--mid-anim), background-color var(--mid-anim), -webkit-box-shadow color var(--mid-anim);
  transition: color var(--mid-anim), background-color var(--mid-anim), -webkit-box-shadow color var(--mid-anim);
  transition: color var(--mid-anim), background-color var(--mid-anim), box-shadow color var(--mid-anim);
  transition: color var(--mid-anim), background-color var(--mid-anim), box-shadow color var(--mid-anim), -webkit-box-shadow color var(--mid-anim);
}

.projects__button:hover, .projects__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__item {
  margin-right: 8px;
}

.projects__item:last-child {
  margin-right: 0px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* logo */
/* .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
} */
.list,
.header__list,
.auth-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* site-nav */
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color var(--mid-anim);
  transition: color var(--mid-anim);
  text-decoration: none;
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__link-current {
  color: #2196f3;
  text-decoration: none;
}

.header__link-current::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.auth-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: currentColor;
  -webkit-transition: color var(--mid-anim);
  transition: color var(--mid-anim);
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

.auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.auth-nav__item:last-child {
  margin-right: 0;
}

.auth-nav__icons {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio/header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  /* margin: 0 auto;
  display: block; */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opasity cubic-bezier(0.55, 0.055, 0.675, 0.19), visibility 700ms ease;
  transition: opasity cubic-bezier(0.55, 0.055, 0.675, 0.19), visibility 700ms ease;
}

/* Чем мы занимаемся */
.profile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.profile__item {
  margin-right: 30px;
  position: relative;
  z-index: -1;
}

.profile__item:last-child {
  margin-right: 0px;
}

.profile__title {
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.profile__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* Section Сильные стороны компании*/
.feature {
  padding-bottom: 0px;
}

.feature__thumb {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .feature__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
} */
.feature__titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  list-style: none;
}

.feature__item {
  margin-right: 30px;
  width: 270px;
}

.feature__item:last-child {
  margin-right: 0px;
}

/* Команда компании */
.team {
  background: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.team__item {
  background: #ffffff;
  margin-right: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__item:last-child {
  margin-right: 0px;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Оформлення іконок соцмереж */
.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.team__icons:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: color var(--mid-anim), background-color var(--mid-anim);
  transition: color var(--mid-anim), background-color var(--mid-anim);
}

.team__social-link:hover, .team__social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team__social-icons {
  fill: currentColor;
}

/* <!--Постоянные клиенты--> */
.klient__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.klient__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.klient__item {
  width: 170px;
  height: 92px;
  -webkit-transition: border var(--mid-anim);
  transition: border var(--mid-anim);
  /* margin-right: 30px; */
}

.klient__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: border var(--mid-anim);
  transition: border var(--mid-anim);
}

.klient__link:hover, .klient__link:focus {
  border: 1px solid #2196f3;
}

.klient__icons {
  fill: #afb1b8;
  -webkit-transition: fill var(--mid-anim);
  transition: fill var(--mid-anim);
}

.klient__link:hover .klient__icons,
.klient__link:focus .klient__icons {
  fill: #2196f3;
}

/* .klient-section-item:last-child {
  margin-right: 0px;
} */
/* Футер */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__address-box {
  display: inline-block;
  width: 231px;
  margin-right: 70px;
}

.footer__address {
  margin-bottom: 9px;
  /* margin-top: 20px; */
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__list {
  list-style: none;
}

.footer__item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.accession {
  margin-right: 93px;
}

.accession__social-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.accession__team-icons:not(:last-child) {
  margin-right: 10px;
}

.accession__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accession__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--mid-anim), color var(--mid-anim);
  transition: background-color var(--mid-anim), color var(--mid-anim);
}

.accession__social-link:hover, .accession__social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.accession__icons {
  fill: currentColor;
}

/* ПОРТФОЛИО */
.projects-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

.projects__list-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.projects__image-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects__image-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--mid-anim);
  transition: -webkit-box-shadow var(--mid-anim);
  transition: box-shadow var(--mid-anim);
  transition: box-shadow var(--mid-anim), -webkit-box-shadow var(--mid-anim);
}

.projects__image-link:hover, .projects__image-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .projects-image-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
} */
.projects__image-item:nth-child(3n) {
  margin-right: 0px;
}

.projects__image-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects__box-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.projects__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Створення оверлея */
.projects__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__image-link:hover .overlay,
.projects__image-link:focus .overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */