/* Подписка на страницу */
.subscription {
  width: 579px;
}
.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscription__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__form-group {
  display: block;
  align-items: center;
  margin-right: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: transparent;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscription__form-input {
  padding: 15px 286px 15px 25px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription__form-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
}
.subscription__form-icon {
  margin-left: 10px;
  fill: #fff;
}
