.logo {
  display: flex;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
/* .for-logo {
  color: #2196f3;
} */
.logo--color {
  color: black;
}

.logo--color-footer {
  color: #ffffff;
}
