.logo {
  display: flex;
  font-family: "Raleway", serif;
  font-weight: 700;

  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;

  // @include mq(mobile) {
  //   display: block;
  //   margin-right: 0px;
  //   align-items: center;
  // }
  @include mq(mobile) {
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.2;
  }
  @include mq(tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include mq(desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.2;
  }
}
/* .for-logo {
  color: #2196f3;
} */
.logo--color {
  color: black;
}

.logo--color-footer {
  color: #ffffff;
}
