/* Section Сильные стороны компании*/
// .feature {
//   padding-bottom: 60px;
// }

.feature__list {
  display: block;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  list-style: none;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    align-items: flex-start;
  }

  @include mq(desktop) {
    display: flex;
    margin: -15px;
  }
}

.feature__item {
  @media screen and (max-width: 766px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }

  @include mq(desktop) {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}
.feature__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;

  @include mq(tablet) {
    width: 354px;
  }

  @include mq(desktop) {
    width: 270px;
  }
}
/* .feature__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
} */
.feature__titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}
