/* Hero */
.hero {
  margin-left: auto;
  margin-right: auto;

  background: #2f303a;

  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  text-align: center;

  @include mq(mobile) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/header/header-img_sm.png);

    // Завантаження ретінізованого 2х фонового зображення

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/header/header-img_sm@2x.png);
    }
    background-size: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/header/header-img_md.png);

    // Завантаження ретінізованого 2х фонового зображення

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/header/header-img_md@2x.png);
    }

    background-size: 768px;
    max-width: 768px;
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/header/header-img_lg.png);

    // Завантаження ретінізованого 2х фонового зображення

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/header/header-img_lg@2x.png);
    }

    background-size: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include mq(desktop) {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;

  /* margin: 0 auto;
  display: block; */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opasity cubic-bezier(0.55, 0.055, 0.675, 0.19),
    visibility 700ms ease;
}
